{% extends "base.html" %}

{% block title %}New Post{% endblock %}

{% block container %}

<div class="row">
    <div class="col-md-12">

        <h2 class="form-signin-heading">Post your story</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <form id="blogPostFrom" role="form" action="/blog/new" method="post">
            <label for="title" class="sr-only">Title</label>
            <input type="text" name="title" id="title" class="form-control" placeholder="Blog Title" required autofocus>

            <textarea name="content" id="postContent" class="blog-content" form="blogPostFrom" wrap="soft"
                      placeholder="post your story here . . ."
                      required></textarea>
            <p class="errormsg">{{errormsg}}</p>
            <button class="btn btn-lg btn-primary btn-var-width btn-left" type="submit">Post</button>
            <button class="btn btn-lg btn-default btn-var-width btn-right" type="button">Cancel</button>
        </form>
    </div>
</div>

{% endblock %}